<!doctype html>
{% set __url = page.url or "/" %}
{% set __isEn = (__url == "/en/") or (__url.startsWith("/en/")) %}
<html lang="{% if __isEn %}en{% else %}ko{% endif %}">
<head>
  {% include "head-common.njk" %}
  {% if pageCss %}<link rel="stylesheet" href="{{ pageCss }}" />{% endif %}
</head>
<body class="{{ bodyClass | default('') }}">
  {% include "header.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
  {% if pageJs %}<script src="{{ pageJs }}" defer></script>{% endif %}
</body>
</html>
